.button {
    
    &--hood {
        background-image: url(../../img/little-red-riding-hood.svg);
        width: 2.75rem;
        aspect-ratio: 1;
    }

    &--filter {
        background: radial-gradient(#FEFAD4 50%, #6F3713);
        padding: 0.5rem 2rem;
        
    }
}