/* Hamburger */

.hamburger {
    width: 50%;
    

    &__menu {
        width: 100%;
        
    }

    @media screen and (max-width: 768px) {
        &__link {
            font-size: 1.25rem;
        }
    
        &__menu {
            display: flex;
            flex-direction: column;
            z-index: 100;
            min-width: 100%;
            min-height: 22.5rem;
            position: fixed;
            bottom: 6rem;
            left: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            text-align: center;
            padding-top: 1.25rem;
            transition: all 0.3s ease-in-out;
        }

        
    
        &__menu.overlay {
            visibility: visible;
            opacity: 1;
            background-color: $brown;
            line-height: 4;
        }
    }
    
    @media screen and (min-width: 764px) {
        & {
            display: none;
        }
    }
}
