.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    position : fixed;

    @media screen and (max-width: 768px) {
        
        bottom: 0;
    }

    @media screen and (min-width: 768px) {
        top: 0;
    }
}

.nav-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: $brown;
    position : fixed;

    @media screen and (max-width: 768px) {
        
        display: none;
    }

    @media screen and (min-width: 768px) {
        top: -1;
    }
}

