/*FONT*/

.search-title{
    font-family:'lancelot';
    font-size: 1.5rem;
    color: $brown;
    padding: 10px 150px 10px 20px;
}


/*ICON*/

.wand-icon{
    width: 2rem;
}

/*MAIN*/

.searchbar{
    background-color: $beige;
    color: $brown;

    border: 1px solid #6F3713;
    border-radius:2px;

}

.searchbar:focus{
    outline:none !important;
    border:1px solid $brown;

}


.border-searchbar{
    border: 1px solid #6F3713;
    border-radius:2px;
    font-family: 'lancelot';

    background-image: url(../../img/magic-wand\ 1.svg);
    background-repeat: no-repeat;
    background-position:  right 10% bottom 45%;;
}

.border-searchbar:focus{
    outline:none !important;
    border:2px solid $brown;

}


input{
    background-color: $beige;
    color: $brown;

    border: 1px solid #6F3713;
    border-radius:2px;
}



