.flex-column {
    display: flex;
    flex-direction: column;
}

.separator {
    &:after {
        display: block;
        content: '';
        width: 19.875rem;
        height: 1px;
        background-color: $brown;
        justify-content: center;
    }
}