.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.separator {
    &:after {
        display: block;
        content: '';
        width: 19.875rem;
        height: 1px;
        background-color: $brown;
        justify-content: center;
    }
}

.hidden {
    display: none;
}

.notif {
    font-size: 1.5rem;
    font-family: 'lancelot';
    color: $brown;
    text-align: center;
    padding: 2rem;
}
