.product {

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__img {
        max-width: 15rem;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
    }

&__card {
    border: 2px solid black;
    margin: 0.5rem;
}

    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}